.box
{
    width: 50vw;
    margin: 5vh auto;
    padding: 5px;

    border: 2px outset grey;
    border-radius: 8px;
    background-color: lightgrey;
    box-shadow: 2px 2px 2px grey;
}

.newprod {
  font-size: 2rem;
  color: rgb(230, 10, 10);
}
